name: "Application A JMeter Dispatcher"

on:
  workflow_dispatch:
    inputs:
      environment_name:
        description: "Select environment"
        required: true
        type: choice
        options:
          - dev
          - staging
          - prod
      jmx_file:
        description: "Select JMeter test plan"
        required: false
        type: choice
        options:
          - sample_jmeter.jmx
          - High_TPS_Runner.jmx
        default: sample_jmeter.jmx
      test_type:
        description: "Choose test type (load/cleanup)"
        required: true
        type: choice
        options:
          - load
          - cleanup
      runners_to_use:
        description: "Number of parallel runners to use"
        required: true
        type: choice
        options:
          - '1'
          - '2'
          - '3'
          - '4'

jobs:
  dispatch-core:
    uses: ./.github/workflows/core_jmeter_framework.yml
    with:
      app_name: "applicationA"
      environment_name: ${{ github.event.inputs.environment_name }}
      jmx_file: ${{ github.event.inputs.jmx_file }}
      test_type: ${{ github.event.inputs.test_type }}
      runners_to_use: ${{ github.event.inputs.runners_to_use }}
